@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap&subset=cyrillic-ext);
* {
  box-sizing: border-box;
  outline: none;
}
ul,
ol {
  margin: 0;
  padding: 0;
}
li {
  list-style-type: none;
}
a {
  color: inherit;
  text-decoration: none;
}
html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-family: Montserrat;
  font-size: 16px;
  margin: 0;
  padding: 0;
}
@media (max-width: 992px) {
  html,
  body,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    font-size: 14px;
  }
}
.container {
  padding: 0 13%;
}
@media (max-width: 1200px) {
  .container {
    padding: 0 10%;
  }
}
@media (max-width: 992px) {
  .container {
    padding: 0 7%;
  }
}
button.buy_now {
  display: inline-block;
  background: #f02020;
  padding: 10px 25px;
  border-radius: 22px;
  margin-top: 2%;
  border: none;
  z-index: 1000;
  color: #fff;
  font-weight: 600;
  font-size: 1.3rem;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
}
button.buy_now:hover {
  background: #ff4444;
}
.floating_header {
  background: rgba(27, 27, 28, 0.3);
  position: absolute;
  width: 100%;
}
@media (max-width: 992px) {
  .floating_header {
    background: rgba(27, 27, 28, 0.9);
  }
}
.dark_bg {
  background: rgba(27, 27, 28, 0.8);
}
@media (max-width: 992px) {
  .dark_bg {
    background: rgba(27, 27, 28, 0.9);
  }
}
.nav_inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 1.5px;
}
@media (max-width: 992px) {
  .nav_inner {
    flex-direction: column;
  }
}
.nav_inner .logo {
  flex-grow: 1;
}
@media (max-width: 992px) {
  .nav_inner .logo {
    margin-bottom: 1.5rem;
  }
}
.nav_inner button {
  display: none;
}
@media (max-width: 992px) {
  .nav_inner button {
    display: block;
    border: none;
    background: inherit;
  }
  .nav_inner button img {
    width: 35px;
  }
}
.nav_inner nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1.5;
}
@media (max-width: 992px) {
  .nav_inner nav {
    flex-direction: column;
    display: none;
  }
}
.nav_inner nav ul {
  display: flex;
  justify-content: space-between;
}
.nav_inner nav ul li {
  margin: 0 0.9rem;
}
.nav_inner nav ul li a {
  padding: 5px 12px;
  border-bottom: 1px solid rgba(170, 170, 170, 0);
}
.nav_inner nav ul li a:hover {
  border-bottom: 1.5px solid #aaaaaa;
  transition: all 0.8s linear 0.1s;
}
@media (max-width: 992px) {
  .nav_inner nav ul li {
    margin-bottom: 1rem;
  }
}
@media (max-width: 992px) {
  .nav_inner nav ul {
    flex-direction: column;
    padding: 2rem 0;
    font-size: 1.5rem;
    text-align: center;
  }
}
.nav_inner .contacts a {
  display: block;
}
.nav_inner .contacts a:first-child {
  margin-bottom: 1rem;
  font-weight: 700;
}
.nav_inner .contacts a:last-child {
  text-transform: lowercase;
  letter-spacing: 1px;
}
main {
  height: 100vh;
  background: url(img/bg/main_bg.jpg) 100% 100% no-repeat fixed;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
main .content {
  text-align: center;
  color: #333;
}
main h1 p {
  font-size: 3.5rem;
  margin: 0;
  letter-spacing: 0.1px;
  font-weight: 700;
}
@media (max-width: 992px) {
  main h1 p {
    font-size: 2.5rem;
  }
}
main .text {
  margin-top: 5%;
}
main .text p {
  font-size: 1.4rem;
  font-weight: 600;
  margin-top: 1rem;
}
main button.buy_now {
  margin-top: 5%;
}
.info {
  padding: 5rem 0;
}
.content {
  color: #1b1b1c;
}
.content h2 {
  font-size: 3rem;
  font-weight: 700;
  letter-spacing: 1px;
  text-align: center;
}
.content .post_title {
  font-size: 2rem;
  text-align: center;
  font-weight: 700;
  margin-top: 1.5rem;
}
.content .flex_info {
  margin-top: 100px;
  display: flex;
  justify-content: space-between;
  text-align: center;
}
@media (max-width: 992px) {
  .content .flex_info {
    flex-wrap: wrap;
  }
}
.content .flex_info img {
  width: 70px;
}
.content .flex_info h6 {
  font-size: 1.37rem;
  font-weight: 700;
  margin-top: 1rem;
}
.content .flex_info p {
  margin-top: 1rem;
}
.content .flex_info div {
  padding: 0 10px;
  flex-grow: 1;
}
.social_links {
  padding: 5rem 0;
  background: url(img/bg/bg1.jpg);
  text-align: center;
}
.social_links p.title {
  font-size: 3rem;
  font-weight: 700;
  color: #fff;
}
.social_links .links {
  display: flex;
  justify-content: center;
}
.social_links .links img {
  width: 45px;
  margin: 2rem ;
}
.specification {
  padding: 5rem 0;
  background: #e1e1e1;
}
.content_wrapper {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 992px) {
  .content_wrapper {
    flex-wrap: wrap;
    justify-content: center;
  }
}
@media (max-width: 992px) {
  .content_wrapper .img_wrapper {
    max-width: 100%;
  }
}
.content_wrapper .img_wrapper .img_show {
  min-width: 600px;
}
.content_wrapper .img_wrapper .img_show img {
  width: 100%;
  text-align: center;
}
.content_wrapper .img_wrapper .img_slides {
  text-align: center;
  margin-top: 1rem;
}
.content_wrapper .img_wrapper .img_slides img {
  width: 100px;
  border: 2px solid #c2ccc2;
  margin: 1rem;
}
.content_wrapper .text_wrapper {
  flex-grow: 1;
}
.content_wrapper h3 {
  text-align: center;
}
.content_wrapper h3 p {
  font-size: 1.5rem;
  font-weight: 700;
}
.content_wrapper ul {
  margin-top: 1rem;
}
.content_wrapper ul li {
  list-style-type: disc;
  margin: 1rem 3rem;
  font-weight: 500;
}
.pricelist {
  padding: 5rem 0;
  background: url(img/bg/bg2.jpg) center center no-repeat;
  background-size: cover;
}
.pricelist h6 {
  font-size: 3rem;
  color: #fff;
  font-weight: 700;
  text-align: center;
}
@media (max-width: 992px) {
  .pricelist h6 {
    font-size: 2rem;
  }
}
.pricelist .cards_wrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
}
@media (max-width: 992px) {
  .pricelist .cards_wrapper {
    flex-direction: column;
  }
}
.pricelist .card {
  width: 25%;
  background: #a0c1c1;
  border-radius: 20px;
}
.pricelist .card:hover {
  box-shadow: 0 0 5px 1px #ffffff;
}
@media (max-width: 992px) {
  .pricelist .card {
    margin-top: 2rem;
    width: 60%;
    align-self: center;
  }
}
.pricelist .card img {
  width: 100%;
  display: block;
  border-radius: 20px 20px 0 0;
  margin-bottom: 1rem;
}
.pricelist .card p {
  font-size: 22px;
  font-weight: 500;
  margin-top: 0.3rem;
  text-align: center;
  color: #373737;
}
.pricelist .card .price {
  font-weight: 600;
  margin-top: 1.5rem;
}
.order {
  margin-top: 1.5rem;
  margin-bottom: 0.7rem;
  text-align: center;
}
.sertification {
  padding: 5rem 0;
}
.sertification .wrapper {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 992px) {
  .sertification .wrapper {
    flex-wrap: wrap;
    justify-content: center;
  }
}
.sertification .sertificate {
  width: 50%;
}
.sertification .sertificate img {
  min-width: 500px;
  width: 100%;
}
@media (max-width: 992px) {
  .sertification .sertificate img {
    min-width: 0;
  }
}
.sertification .description {
  padding: 5% 10%;
  line-height: 1.8rem;
}
footer {
  padding: 5rem 0;
  background: #373737;
}
footer .wrapper {
  display: flex;
  justify-content: flex-end;
}
footer .wrapper img {
  width: 40px;
}
footer .links a {
  margin-right: 2rem;
}
footer .contacts a {
  display: block;
  color: #fff;
}
footer .contacts a:first-child {
  margin-bottom: 1rem;
  font-weight: 700;
}
footer .contacts a:last-child {
  text-transform: lowercase;
  letter-spacing: 1px;
}
.modal {
  width: 100%;
  height: 100vh;
  background: rgba(37, 37, 37, 0.8);
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  justify-content: center;
  align-items: center;
}
.form {
  background: #fff;
  padding: 3rem 5rem;
  border-radius: 20px;
  position: relative;
}
.form button {
  display: block;
  width: 100%;
  margin-top: 1.5rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  font-size: 1.2rem;
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
  background: #f02020;
  border: none;
  border-radius: 20px;
}
.form button:hover {
  background: #ff4444;
}
.form input {
  display: block;
  width: 100%;
  max-width: 500px;
  padding: 0.2rem 0.5rem;
  font-size: 1.2rem;
}
.form input.quanity {
  width: 40%;
}
.form textarea {
  width: 100%;
  resize: none;
  padding: 0.2rem 0.5rem;
  font-size: 1.2rem;
}
.form .close {
  position: absolute;
  top: 5px;
  right: 5px;
}
.form .close img {
  width: 50px;
}
p.title {
  font-size: 1.5rem;
  font-weight: 600;
  text-align: center;
  margin-bottom: 1.5rem;
}
p.field_name {
  font-size: 1.2rem;
  margin-top: 1.2rem;
  margin-bottom: 0.3rem;
  font-weight: 500;
}
p.field_name span {
  color: red;
}
p.summ {
  font-size: 1.5rem;
  font-weight: 600;
  margin-top: 1.5rem;
}
p.summ span#sum {
  padding-left: 1.5rem;
}

